 components {
  .box {
    box-shadow: 0px 3px 5px #0000000b;
    background-color: white;
    border: 1px solid var(--color-slate-200);
    border-radius: 0.6rem;
    position: relative;
    &--stacked:before {
      content: "";
      z-index: -1;
      box-shadow: var(--shadow-xs);
      height: 100%;
      background-color: var(--color-slate-500);
      border: 1px solid var(--color-slate-200);
      position: absolute;
      border-radius: var(--radius-lg);
      left: calc(var(--spacing) * 3.5);
      right: calc(var(--spacing) * 3.5);
      top: 0;
      margin-top: calc(var(--spacing) * 3);
    }
  }

  .dark {
  .box {
    background-color: #95a5a6;
    border-color: #95a5a6;
    &--stacked:before {
      background-color: color-mix(in oklab, #95a5a6 70%, transparent);
      border-color: color-mix(in oklab, #95a5a6 20%, transparent);
    }
  }
}
}
